# Build Folders
bin/
obj/

# Rider / JetBrains files
.idea/
*.sln.iml

# User-specific files
*.user
*.suo
*.vs/
.vscode/
*.csproj.user

# Logs and database
logs/
*.log
*.db
*.sqlite
*.sqlite3

# ASP.NET-specific
appsettings*.json
secrets.json

# Dotnet restore artifacts
project.lock.json
project.assets.json

# Dependencies
node_modules/
packages/
wwwroot/

# Docker
docker-compose.override.yml

# Publish / Deployment
*.publish/
.publish/
